* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f3f5fc;
  box-sizing: border-box;
  overflow-x: hidden;
}

.nav {
  margin: 2% 0%;
}

.program {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.program__page {
  width: 100%;
  margin: 0% 8%;
  display: flex;
  flex-direction: column;
}

.program__textArea {
  background-color: transparent;
  height: 100%;
  width: 100%;
  color: #0a3871;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  overflow-x: hidden;
  resize: none;
  border: 0.2px solid rgba(0, 0, 139, 0.1);
  outline: none;
  border-radius: 3px;
  margin-bottom: 20px;
  padding-left: 2px;
}

.program__textArea::placeholder {
  color: #0a3871;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  padding-left: 2px;
}

.program__p {
  margin-top: auto;
  font-size: 12px;
  color: #495057;
  opacity: 0.8;
  display: flex;
  align-items: center;
}

.program__alert-icon {
  margin-right: 8px;
}

.program__buttons {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  padding: 1% 0;
}

.buttons__button1 {
  width: 100%;
  padding: 24px;
  border-radius: 24px;
  border: none;
  background-color: darkblue;
  color: white;
}

.buttons__button2 {
  width: 100%;
  padding: 24px;
  border: 1px solid darkblue;
  background-color: #d8dfe8;
  color: darkblue;
  border-radius: 24px;
}

.program__rec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border-radius: 16px;
  width: 400px;
  height: 100%;
  min-height: 600px;
  margin-right: 2%;
  padding: 1% 1%;
  position: relative;
}

.program__img {
  width: auto;
  height: 200px;
  padding-bottom: 5px;
}

.program__rec__h1,
.program__rec__p{
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

.program__rec__pHidden {
  text-align: center;
  align-items: flex-start;
  margin-bottom: auto;
  order: -1;
  padding: 3%;
  color: #495057;
  font-size: 24px; 
  width: 100%;
}

.program__rec__btn{
  border: 1px solid darkblue;
  bottom: 1px;
  padding: 20px;
  width: 100%;
  background-color: transparent;
  border-radius: 24px;
  color: darkblue;
  margin-top: auto;
}

.end {
  display: flex;
  justify-content: space-between;
  bottom: 0; 
  width: 100%;
  padding: 1%;
  text-align: center;
  align-items: center;
  border-top: 1px solid darkblue;
  margin-top: 5%;
}

.end__text {
  font-size: 0.75rem;
  margin-bottom: 10px;
  margin-left: 5%;
}

.end__links{
  display: flex;
  margin-right: 5%;
  display: flex;
  justify-content: center;
}

.end__links__link{
  margin-top: auto;
  font-size: 18px;
  color: darkblue;
  opacity: 0.8;
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 5px;
  margin: 2%;
}